@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --text: #000000;
  --surface-0: #ffffff;
  --surface-1: #dedede;
  --surface-2: #cfcfcf;
  --divider: #b9b9b9;
}

.dark body {
  --text: #ffffff;
  --surface-0: #6a6a6a;
  --surface-1: #7a7a7a;
  --surface-2: #8a8a8a;
  --divider: #3f3f3f;
}

body {
  background-color: var(--surface-0);
  color: var(--text);
}
